.section-testimonials {
  position: relative;

  height: 780px;
  padding: 140px 0 0 0;

  @media screen and (max-width: 1440px) {
    height: 742px;
    padding: 100px 0 0 0;
  }

  @media screen and (max-width: 980px) {
    height: 608px;
    padding: 60px 0 0 0;
  }

  @media screen and (max-width: 620px) {
    height: auto;
    padding: 30px 10px 60px;
  }
}

.testimonials-container {
  width: 1160px;
  margin: 0 auto;

  overflow: hidden;

  @media screen and (max-width: 1440px) {
    width: 940px;
  }

  @media screen and (max-width: 980px) {
    width: auto;
  }
}

.testimonials-container>h3 {
  margin: 0 auto;

  font-weight: 400;
  font-size: 36px;
  line-height: 130%;

  text-align: center;
  color: #333B41;

  @media screen and (max-width: 620px) {
    font-size: 1.5em;
    line-height: 120%;
  }
}

.testimonials-card-container {
  display: flex;
  justify-content: space-between;

  margin: 47px 0 0;
  transition: margin 0.5s linear;

  @media screen and (max-width: 1440px) {
    margin: 30px 0 0;
  }

  @media screen and (max-width: 980px) {
    flex-direction: column;
    align-items: center;

    margin: 15px 0 0;
  }

  @media screen and (max-width: 620px) {
    margin: 5px 0 0;
  }
}

.testimonials-card-background {
  box-sizing: border-box;

  width: 268px;
  height: 391px;

  margin: 0;
  padding: 2px;

  border-radius: 20px;

  background:
    linear-gradient(315deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 50%, #E0D8F0 80%, #EAF7FE 128%, #EAF7FE 150%),
    linear-gradient(315deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 50%, #E0D8F0 80%, #EAF7FE 128%, #EAF7FE 150%);

  @media screen and (max-width: 1440px) {
    width: 293px;
  }

  @media screen and (max-width: 980px) {
    width: 600px;
    height: 109px;

    margin: 15px 0 0;

    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 620px) {
    width: auto;
  }
}

.testimonials-card-hidden {
  @media screen and (max-width: 980px) {
    display: none;
  }
}

.testimonials-card {
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  padding: 15px 15px 19px 16px;

  overflow: hidden;

  background: #F1F3F2;
  border-radius: 18px;

  @media screen and (max-width: 620px) {
    padding-top: 11px;
  }
}

.testimonials-card-title {
  display: flex;

  @media screen and (max-width: 980px) {
    margin: 0 0 0 -6px;
  }
}

.testimonials-card-avatar {
  width: 37px;
  height: 37px;

  border-radius: 50%;
}

.testimonials-card-user-wrapper {
  display: inline-block;
  margin: 0 0 0 10px;
}

.testimonials-card-user-name {
  margin: 0;

  font-weight: 400;
  font-size: 1em;
  line-height: 120%;

  color: #000000;
}

.testimonials-card-info {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;

  color: #BDBDBD;
}

.testimonials-card-dot {
  margin: 0 5px 0 6px;
}

.testimonials-card-text {
  height: 309px;

  margin: 10px 0 0 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 120%;

  overflow: hidden;
  color: #767474;

  @media screen and (max-width: 980px) {
    height: 36px;
  }
}

.testimonials-range {
  box-sizing: border-box;

  width: 599px;
  height: 8px;

  margin: 21px auto 0;
  padding: 1px;

  border-radius: 8px/100%;

  background:
    linear-gradient(315deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 50%, #E0D8F0 80%, #EAF7FE 128%, #EAF7FE 150%),
    linear-gradient(315deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 50%, #E0D8F0 80%, #EAF7FE 128%, #EAF7FE 150%);

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 1440px) {
    width: 390px;
  }

  @media screen and (max-width: 980px) {
    display: none;
  }
}

input[type=range] {
  display: block;

  width: 100%;
  height: 6px;

  border-radius: 6px/100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: pointer;

  @media screen and (max-width: 980px) {
    display: none;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  border-radius: 6px/100%;
  background: #F5F7F6;
}

input[type=range]::-webkit-slider-thumb {
  width: 115px;
  height: 6px;

  background: #FE9013;
  border-radius: 6px/100%;

  -webkit-appearance: none;
  appearance: none;

  @media screen and (max-width: 1440px) {
    width: 75px;
  }
}

.testimonials-button {
  margin: 31px 0 0;

  @media screen and (max-width: 1440px) {
    margin: 52px 0 0;
  }

  @media screen and (max-width: 980px) {
    display: block;

    width: 240px;
    margin: 40px auto 0;
  }

  @media screen and (max-width: 620px) {
    position: relative;
    z-index: 1;

    margin: 30px auto 0;
  }
}

.testimonials-popover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(20, 20, 20, 0.3);

  &:hover {
    cursor: pointer;
  }

  .popover-wrapper {
    position: relative;

    box-sizing: border-box;

    max-width: 320px;
    padding: 20px 36px 17px 17px;

    background: #FFFFFF;

    &:hover {
      cursor: auto;
    }
  }

  .x-icon {
    position: absolute;
    top: 0;
    right: 0;

    margin: 12px 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .testimonials-card-background {
    box-sizing: border-box;

    width: 268px;
    height: 391px;

    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .testimonials-card-text {
    height: 309px;
  }
}

.backgroung-flowers-4 {
  position: absolute;
  right: 0;
  top: 645px;

  @media screen and (max-width: 1440px) {
    top: 600px;
  }

  @media screen and (max-width: 980px) {
    top: 533px;
  }

  @media screen and (max-width: 620px) {
    top: 515px;
  }
}